img{
    height: 92px; /*Altura*/
}

a{
    text-decoration: none;/*Decoração do texto*/
    color: var(--gm3-sys-color-on-surface, #1f1f1f); /*Cor do texto*/
    font-size: 13px; /*Tamanho fonte*/
    font-family: sans-serif; /*Tipo/Familia*/

}
.icone-produtos{
    width: 24px; /*Largura*/
    fill: #444746; /*Preenchimento*/
}

.botao-login{
    background-color: #1a73e8; /*Cor plano de fundo*/
    color: white;
    padding: 13px 12px; /*Espaçamento interno*/
    border-radius: 40px;
}